.sheet-wrapper {
	min-width: 800px;
	max-width: 1200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: grid;
	grid-template-areas: "a";
	grid-gap: 5px;
	grid-auto-columns: auto;
	background: url('https://raw.githubusercontent.com/JerryCow33/roll20-qin-fr-character-sheet/master/images/fond_qin.jpg') repeat top center;
	color: #1f1304;
	padding: 5px;
}

.sheet-header {
    background: url('https://raw.githubusercontent.com/JerryCow33/roll20-qin-fr-character-sheet/master/images/qinfond.png') repeat-x left;
    height:100px;
    margin:0px;
    padding:0px;
	display: flex;
	align-items: center;
}

.sheet-logo {
    height:100px;
    margin:0px;
}

.sheet-titre {
    font-size:48px;
    font-weight:bold;
    /*-webkit-text-stroke: 1px white;*/
}

.sheet-titrepartie {
	background-color: rgba(215,207,159,0.40);
	padding: 10px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.sheet-contentwrapper {
	display: grid;
	grid-template-areas: "a";
	grid-auto-columns: auto;
	background-color: rgba(215,207,159,0.40);
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
}

.sheet-titresspartie {
	padding: 10px;
	background-color: rgba(249,231,169,0.80);
	color: #444;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.sheet-contentbloc {
	padding: 3px;
	background-color: rgba(249,231,169,0.80);
	color: #444;
}

.sheet-contentblocidentite {
	display: grid;
	grid-template-areas: "a a a";
	grid-auto-columns: 33.33%;
	padding-bottom: 5px;
}

.sheet-contentblocidentite .sheet-content {
	flex-direction: column;
}

.sheet-contentblocidentite2 {
	display: grid;
	grid-template-areas: "a a a a";
	grid-auto-columns: 25%;
	padding-bottom: 5px;
}

.sheet-contentblocidentite3 {
	display: grid;
	grid-template-areas: "a a";
	grid-auto-columns: 50%;
	padding-bottom: 5px;
}

.sheet-contentblocidentite4 {
	display: grid;
	grid-template-areas: "a a";
	grid-auto-columns: 50%;
	padding-bottom: 5px;
}

.sheet-contentblocidentite5 {
	display: grid;
	grid-template-areas: "a a";
	grid-auto-columns: 50%;
	padding-bottom: 5px;
}

.sheet-contentblocaspects {
	display: grid;
	grid-template-areas: "a a a a a";
	grid-auto-columns: 20%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocaspects .sheet-content {
	flex-direction: column;
}

.sheet-contentblocchi {
	display: grid;
	grid-template-areas: "a a a";
	grid-auto-columns: 33.33%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocvie {
	display: grid;
	grid-template-areas: "a a a a a";
	grid-auto-columns: 20%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocvie .sheet-content {
	flex-direction: column;
}

.sheet-contentbloctalents {
	display: grid;
	grid-template-areas: "a a";
	grid-auto-columns: 50%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentbloctalents .sheet-content {
	flex-direction: column;
}

.sheet-contentblocprotection {
	display: grid;
	grid-template-areas: "a a a";
	grid-auto-columns: 33.33%;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocprotection .sheet-content {
	flex-direction: column;
}

.sheet-contentblocarmesname {
	display: grid;
	grid-template-columns: 28% 20% 10% 10% 8% 8% 8% 8%;
	grid-template-areas: "a a a a a a a a";
	/*grid-auto-columns: 33.33%;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocarmes {
	display: grid;
	grid-template-columns: 28% 20% 10% 10% 8% 8% 8% 8%;
	grid-template-areas: "a a a a a a a a";
	/*grid-auto-columns: 33.33%;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocarmes .sheet-contentinput select {
	width:100px;
}

.sheet-contentblocarmes .sheet-contentinput input {
	width:100%;
}

.sheet-contentarmemanoeuvre {
	grid-column-start: 1;
	grid-column-end: end;
}

.sheet-contentbloctaosname {
	display: grid;
	grid-template-columns: 30% 10% auto;
	grid-template-areas: "a a a";
	/*grid-auto-columns: 33.33%;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentbloctaos {
	display: grid;
	grid-template-columns: 30% 10% auto;
	grid-template-areas: "a a a";
	/*grid-auto-columns: 33.33%;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentbloctaos .sheet-contentinput select {
	width:100px;
}

.sheet-contentbloctaos .sheet-contentinput input {
	width:100%;
}

.sheet-contentblocmagiename {
	display: grid;
	grid-template-columns: 30% 20% 10% auto;
	grid-template-areas: "a a a a";
	/*grid-auto-columns: 33.33%;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocmagie {
	display: grid;
	grid-template-columns: 30% 20% 10% auto;
	grid-template-areas: "a a a a";
	/*grid-auto-columns: 33.33%;*/
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.sheet-contentblocmagie .sheet-contentinput select {
	width:100px;
}

.sheet-contentblocmagie .sheet-contentinput input {
	width:100%;
}

.sheet-content {
	border:1px solid #1f1304;
	padding: 10px;
	color: #444;
	display: flex;
	align-items: center;
}

.sheet-contentlabel {
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
	flex: initial;
}
.sheet-contentinput {
	flex: auto;
	white-space: nowrap;
}

.sheet-contentinput textarea {
	width:97%;
	height:3em;
	margin-bottom:0px;
}

.sheet-twodigits {
	width:40px !important;
}

.sheet-fieldset {
	margin:0px;
	padding:0px;
	border:none;
}
